.cred-card {
    color: white;
    width: 350px;
    background: #9f9f9f;
    border-radius: 6%;
    padding: 20px;
    /* background-image: url("https://images.all-free-download.com/images/graphiclarge/abstract_blue_technical_background_310501.jpg"); */
}

.cred-card-balance-text {
    font-size: 16px;
    margin-bottom: 0px;
}

.cred-card-balance-amount {
    font-size: 26px;
}

.cred-card-details{
    margin-top: 10px;
}

.cred-card-num{
    margin-bottom: 0px;
}