.balance-heading {
    font-size: 16px;
    color: gray;
    margin-bottom: 0px;
}

.balance-amount {
    font-size: 60px;
    margin-bottom: 50px;
}

.card-2 {
    position: absolute;
    top: 57%;
    left: 5%;
}

.card-3  {
    position: absolute;
    top: 93%;
    left: 10%;
}

.balance-cards-container {
    position: absolute;
}