.transaction-img {
    width: 60px;
}

.transaction-user {
    font-size: 24px;
    margin-bottom: 0px;
}

.transaction-date {
    font-size: 14px;
    color: #787878;
}

.transaction-amount {
    font-size: 24px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.transactions-container {
    margin-top: 20px;
}

.transaction-hr {
    width: 90%;
    margin: inherit auto;
}